:root {
    --main-bg-color: rgba(165, 42, 42, 0.473);
    --table-num-bg-color: rgba(81, 122, 81, 0.5);
    --table-notification-bg-color: rgba(139, 233, 139, 0.425);
    --table-notification-item-bg-color: rgba(116, 190, 116, 0.425);
  }
  